<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materias de Docentes</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Materias Asignadas</h1>
    </header>
    <main>
        <ul>
            {% for materia in materias %}
            <li>
                <h3>{{ materia }}</h3>
                <button onclick="window.location.href='/login_docente/{{ materia | lower | replace(' ', '_') }}'">Acceder</button>
            </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
